export("StartMMD")
import(shiny)
importFrom("scatterplot3d", "scatterplot3d")
importFrom("smacof", "smacofSym")
importFrom("stats", "cmdscale", "na.omit")
importFrom("utils", "read.csv", "write.csv")
